<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <form method="post" action="/upload" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleFormControlFile1">Author csv</label>
            <input type="file" class="form-control-file" id="csv" name="author" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Book csv</label>
            <input type="file" class="form-control-file" id="csv" name="book" />
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Magazines csv</label>
            <input type="file" class="form-control-file" id="csv" name="magazines" />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    <!-- <script>
      const input = document.getElementById("csv");
      const upload = (file) => {
        file.name = "file";
        console.log(file)
        fetch("/upload", {
          // Your POST endpoint
          method: "POST",
          headers: {
            // "Content-Type": "You will perhaps need to define a content-type here"
          },
          body: file,
        })
          .then(
            (response) => response.json() // if the response is a JSON object
          )
          .then(
            (success) => console.log(success) // Handle the success response object
          )
          .catch(
            (error) => console.log(error) // Handle the error response object
          );
      };

      const onSelectFile = () => upload(input.files[0]);
      input.addEventListener("change", onSelectFile, false);
    </script> -->
  </body>
</html>
